<!-- Content heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Message block -->
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>

<!-- Form -->
<div class="form">
  <form action="/inv/add-inventory" method="post">
    <fieldset>
      <legend>Add Inventory</legend>
      <div class="information">
        <p class="required-fields">All fields are required.</p>
        <label for="classification_name">Classification</label>
        <% if (dropDownClassification) { %> <%- dropDownClassification %> <% }
        %>
        <label for="inv_make">Make</label>
        <input type="text" id="inv_make" name="inv_make" title="Make of vehicle" placeholder="Min of 3 characters" minlength="3" required value="<%= locals.inv_make %>">

        <label for="inv_model">Model</label>
        <input type="text" id="inv_model" name="inv_model" title="Model of vehicle" placeholder="Min of 3 characters" minlength="3" required value="<%= locals.inv_model %>">

        <label for="inv_description">Description</label>
        <textarea id="inv_description" name="inv_description" title="Description of the vehicle" rows="6" cols="20" required value="<%= locals.inv_description %>"></textarea>
        
        <label for="inv_image">Image Path</label>
        <input type="url" id="inv_image" name="inv_image" title="Image path of vehicle" required value="<%= locals.inv_image %>">

        <label for="inv_thumbnail">Thumbnail Path</label>
        <input type="url" id="inv_thumbnail" name="inv_thumbnail" title="Thumbnail path of vehicle" required value="<%= locals.inv_thumbnail %>">
        
        <label for="inv_price">Price</label>
        <input type="number" id="inv_price" name="inv_price" title="Price of the vehicle" placeholder="decical or integer" required value="<%= locals.inv_price %>">

        <label for="inv_year">Year</label>
        <input type="number" id="inv_year" name="inv_year" title="Year of the vehicle" placeholder="4-digit year" required value="<%= locals.inv_year %>">

        <label for="inv_miles">Miles</label>
        <input type="number" id="inv_miles" name="inv_miles" title="Miles on the vehicle" placeholder="digits only" required value="<%= locals.inv_miles %>">

        <label for="inv_color">Color</label>
        <input type="text" id="inv_color" name="inv_color" title="Color of the vehicle" required value="<%= locals.inv_color %>">

        <input type="submit" value="Add Vehicle">
      </div>
    </fieldset>
  </form>
</div>
